.mapBackground {
  background: #f3efbd;
  padding-top: 0.1px;
}
.map {
  height: 92vh;
  width: 100%;
  background-color: #f3efbd;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.ol-control button {
  //background-color: rgba(0, 0, 0, 0);
}

.map:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ol-control {
  cursor: default;
}

.main-control {
  top: 0.5em;
  left: 3em;
}

.bus-stop-control {
  top: 0.5em;
  left: 25em;
  width: 400px;
}

.mat-form-field {
  width: 100%;
}

.mat-card {
  margin: 0;
  padding: 10px;
}

.tab-content {
  padding: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/deep/ .mat-tab-list {
  .mat-tab-label {
    flex-basis: 0;
    flex-grow: 1
  }
}

.mat-list {
  padding-top: 0;
}

.mat-list-item:hover {
  background-color: rgba(81, 81, 81, 0.86);
}

.context-menu {
  width: 250px;
  padding: 0;
  cursor: default;
}

.marker {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

#myposition > .ol-mouse-position {
  position: relative;
  margin-left: 20px;
  font-size: 30px;
}

.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover {
  z-index: auto;
  width: 240px;
}

.popover-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-content {
  height: 260px;
  overflow-y: auto;
}

.popover-content img {
  max-width: 208px;
}
