<mat-card [ngStyle]="{ 'padding-top': '10px' }">
  <mat-table [dataSource]="dataSource">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let entity">
        <app-cell [prop]="entity[column.columnDef]" [cellDef]="column.cell"></app-cell>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

  </mat-table>
</mat-card>
