<mat-card class="header-card">
  <app-page-header [items]="headerItems">
    {{ "Employees" }}
  </app-page-header>
</mat-card>

<mat-card class="header-card">
  <app-page-header [items]="anotherHeader.headerItems">
    {{ "Another Employees" }}
  </app-page-header>
</mat-card>

<mat-card class="header-card">
  <app-page-header [items]="anotherHeader2.headerItems">
    {{ "Another2 Employees" }}
  </app-page-header>
</mat-card>

<mat-card>
  <app-data-table #table="data-table"
                  [columns]="columns"
                  [service]="service">
  </app-data-table>
</mat-card>

<mat-card class="paginator-card">
  <app-paginator>

  </app-paginator>
</mat-card>
