@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0 !important;
  padding: 0 !important;

  background: url("images/wallpapers.jpg") no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #666666;
}

.mat-card {
  margin: 8px;
}

.header-card {
  height: 40px !important;
  padding-top: 5px !important;;
  padding-bottom: 5px !important;;
}
