@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #666666;
  background-image: url("images/main-background-3.jpg") !important;
}

.mat-card {
  margin: 8px;
}
